body{
    margin: 0;
    padding: 0;

}
.background-img{
    background-image: url(images/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:900px;
    height: 900px;
    padding-right: 40%;
    padding-top: 70%;
   
}
.background-img:hover{
    background-color: gray;
}

.eid{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.link-button{
    text-decoration: none;
    background-color: brown;
     padding: 20px 20px;
    color: white;
    text-align: center;
}
.flex-continer{
    display: flex;
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;

}
#flex-continer{
    display: flex;
    padding: 20px;
}
.half-width img{
    width: 60%;
    padding-left: 40px;
    
    
}
.half-width{
    width: 70%;
    margin-right: 20px;
    text-align: center;
    padding-left: 40px;
    font-size: 25px;
    
}


 .continer{
   
    width: 400px;
    height: 400px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    background-color: blueviolet;
    border-radius: 10px;
    text-align: center;
    
    
}
h1{
    text-align: center;
}
.continer:hover{
    background-color: orange;
}
.flex-continer{
    display: flex;
}
.rectangle{
    text-align: center;
    padding: 20px;
    margin: 20px;
    justify-content: space-around;
}
#imag{
    width:250px;
    height: 200px;
    padding: 20px
    

}
.Donate{
    background-color: black;
    text-align: center;
   padding: 10px 10px 2opx;
   
}
h3{
    color: blue;
}
